<div class="container pad20">
  <h1 class="text"> <%= @cocktail.name %> </h1>

  <div class="pad20">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-dark"%>
    <%= link_to "Go back", cocktails_path, class: "btn btn-dark" %>
  </div>

